body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----Header----- */

.logo_header{
    width: 350px;
    margin: auto;

}

.container_header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 135px;
    top: 0px;
    box-shadow: 1px 1px 2px black;
  }
  
  .img_plat {
    width: 200px;
  }
  
  h1 {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 100px;
  }
  
  .div_client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
  }
  
  .logo_client {
    width: 60px;
    height: 60px;
    text-align: center;
  }
  
  .nom_client {
    text-align: center;
  }

/* -----Main-----*/

.container_main {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.theme {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

figcaption {
  width: 200px;
}

.plat {
  margin-top: 40px;
}


.link_client {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

figure {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

figure:hover {
  box-shadow: rgba(0, 0, 0, 0.90) 0px 5px 15px;
}

.image1 {
  width: 100%;
}

.text {
  text-align: center;
  margin-top: 90px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  font-size: 1.6em;
  margin: 0;
}

.p2 {
  font-size: 2.3em;
  font-family: "Bradley Hand ITC";
  margin: 0;
  color: #db202c;
}

.p3 {
  margin-top: 50px;
}

.titre_theme {
  font-family: "Bradley Hand ITC";
  font-size: 2.5em;
}

/* -----Footer-----*/

.container_footer {
  display: flex;
  margin-top: 50px;
  box-shadow: 0px -1px 2px black;
  height: 100px;
}

.logo_netfood_footer {
  width: 200px;
  margin-left: 25px;
}

.text_footer {
  text-align: center;
  margin: auto;
}

.coeur {
  color: #db202c;
}

/* -----Espace-client-----*/

.titre_info_personnelle {
  margin-top: 250px;
  margin-left: 100px;

  font-size: 2.5em;
}

.info_compte {
  text-align: center;
}

.abonnement {
  color: #55E11C;
  font-weight: bold;
}

.sous_titre_info {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 50px;
}

/* -----Modal-----*/

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(6px);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #fff;
  width: 50%;
  height: 30%;
  padding: 30px;
  box-shadow: 0px 3px 6px #00000029;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
.modal-content p {
  line-height: 1.4;
}

.modal-content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-top: 7%;
  margin-left: auto;
}

.open-new-modal {

  padding: 10px 20px;
  background-color: #db202c;
  border: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin-right: 10px;
}

.close-modal {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #db202c;
  border-radius: 5px;
  letter-spacing: 1.5px;
  color: #db202c;
}

.titre_modal {
  margin-bottom: 35px;
}